body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #318ce7;
  color: white;

  padding: 3px;
  text-align: left;
  display: flex;
}

.navbar h1 {
  margin: 0;
  padding: 16px;
  font-size: 18px;
  font-weight: lighter;
}

/*back button */
.backbutton {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

/* Login form styles */
.login-form {
  margin: 240px auto;

  text-align: center;
}
.signup-form {
  margin: 180px auto;

  text-align: center;
}

.login-form input {
  margin: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
/* buttons*/

.login-button {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px;

  background-color: #318ce7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 60px;
}
.signup-button {
  margin-top: 20px;

  padding: 10px 10px;
  background-color: #318ce7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 75px;
}
.save-button {
  margin: 0px;
  height: fit-content;
  text-align: center;

  padding: 10px 10px;
  background-color: #318ce7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}

.floating-input {
  position: relative;
  margin-bottom: 30px;
}

.floating-input label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  color: #999;
}

.floating-input input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  transition: 0.2s ease all;
}

.floating-input input:focus {
  outline: none;
  border-bottom: 2px solid #318ce7;
}

.floating-input input:focus + label,
.floating-input input:valid + label {
  top: -12px;
  font-size: 12px;
  color: #318ce7;
}
.floating-input label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  color: #999;
}

.floating-input select {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  transition: 0.2s ease all;
}

.floating-input select:focus {
  outline: none;
  border-bottom: 2px solid #318ce7;
}

.floating-input select:focus + label,
.floating-input select:valid + label {
  top: -6px;
  font-size: 10px;
  color: #318ce7;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #318ce7;
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 3px;
}

.content {
  margin-top: 25px;
}

.signup {
  color: #aa8c32;
  text-decoration: none;
}

.submit-button {
  margin-top: 20px;

  padding: 10px 10px;
  background-color: #318ce7;

  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/* Mobile menu styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 350px;
  height: 100vh;
  background-color: #ffffff;
  color: #070707;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 9999;
}

.mobile-menu.active {
  left: 0;
  padding: 0;
  margin: 0;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  padding: 12px;
  font-size: 16px;
  border: none;
  margin: 0;
}

.mobile-menu ul li:hover {
  padding: 12px;
  font-size: 16px;
  background-color: rgba(113, 109, 109, 0.3);
  border: none;
  margin: 0;
}

.mobile-menu ul li a {
  color: #000000;
  text-decoration: none;
}

/* Button styles */
.menu-button {
  width: 35px;
  height: 30px;
  background-color: transparent;
  color: white;
  border: none;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 15px;
  margin-right: 0px;
  justify-content: space-between;
}

.menu-button span {
  display: block;

  width: 100%;
  height: 5px;
  background-color: white;
}

.menu-button:before,
.menu-button:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  display: none;
  background-color: white;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.menu-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu div {
  height: 29%;
  padding: none;
  background-color: #318ce7;
}

.options li {
  margin-top: 10px;
}

/* styling select and ans*/
/* styling home */
/* CSS styles for the dashboard */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dashboard-card {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-card h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.dashboard-card p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}

/* CSS styles for the table sections */
.table-section {
  margin-bottom: 20px;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th,
.table-section td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-section th {
  background-color: #f2f2f2;
}
.successchart {
  background-color: rgba(93, 219, 93, 0.05);
}
.pendingchart {
  background-color: rgba(184, 184, 89, 0.05);
}
.failedchart {
  background-color: rgba(214, 90, 90, 0.05);
}
